/*
!/.gitignore
!/AndroidManifest.xml
!/build.gradle.kts
!/settings.gradle.kts
!/COPYING
!/gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/icon.svg
!/lang
!/metadata
!/proguard-rules.pro
!/README.md
!/res
!/scripts
!/src
!/update
